$height: 110px;
$width: 76px;
$space: 5px;
$overlap: calc(#{-$height} + 20px);

.player {
  display: flex;
  flex-direction: column;
  align-items: center;

  .face-up {
    margin-top: calc(#{-$height} + (#{-$space} * 2));
  }

  .in-hand {
    margin-top: $overlap;
    position: relative;
    .card {
      box-shadow: 1px 1px 5px $darkGrey;
    }
  }

  &:first-of-type {
    .in-hand {
      order: -1;
      margin-top: 0;
      margin-bottom: $overlap;
      z-index: 100;
    }
  }

  &:last-of-type {
    h2 {
      order: 1;
    }
  }
}

.hand > div {
  display: flex;
  justify-content: center;
  align-content: center;
}

.hand {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: $space;

  width: $width;
  height: $height;

  border-radius: 4px;

  @include centerBackground;
}
