
.player {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.is-current {

    h2 {
      color: red;
      animation-name: pulse;
      animation-duration: 1s;
      animation-iteration-count: 2;
    }
  }

  .in-hand {
    position: relative;
    top: -20px;
    order: -1;
    z-index: 100;
    .card {
      box-shadow: 1px 1px 5px $darkGrey;
    }
  }

  & + .player {
    order: 3;
    h2 {
      order: 1;
    }
    .in-hand {
      top: auto;
      bottom: -20px;
    }
  }
}

.hand {
  display: flex;
  justify-content: center;
  height: $height + 10;
  & > div {
    position: absolute;
    display: flex;
  }
}
