// typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');
$mainFont: 'Open Sans', sans-serif;

// colors
$grey: grey;
$darkGrey: darken($grey, 10%);

// dimensions
$height: 110px;
$width: 76px;
$space: 5px;
